.innerdiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headimage {
  height: 50px;
  width: 264px;
}

#welcome-text {
  font-size: 1.4rem;
  font-weight: 500;
  display: inline-block;
  margin-top: 90px;
}

#main-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 34px;
}

.info-text {
  font-size: 0.8rem;
  color: darkgray;
  margin-top: 6px;
}

.info-text2 {
  font-size: 0.8rem;
  color: darkgray;
}

#mainform-submit {
  border: 0;
  background-color: #f7b348;
  color: white;
  border-radius: 18px;
  height: 36px;
  width: 220px;
  margin-top: 116px;
}

#signin-text {
  color: #666;
  margin-top: 14px;
}

.number-input {
  position: absolute;
  left: 90px;
  top: 15px;
  height: 32px;
  border: 0px;
  width: 256px;
}

#numberinput {
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
  /* border: 1px solid black; */
  height: 50px;
  width: 350px;
}

#numberinputlabel {
  position: absolute;
  font-size: 0.8rem;
  color: darkgray;
  left: 30px;
}

.my-flag {
  position: absolute !important;
  left: 16px;
  top: 7px;
}

#left-block {
  position: absolute;
  height: 44px;
  border: 1px solid #ffd37d;
  top: 9px;
  width: 14px;
  border-right: 0px;
  left: 12px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

#right-block {
  position: absolute;
  border: 1px solid #ffd37d;
  height: 43px;
  width: 198px;
  top: 10px;
  left: 163px;
  border-left: 0px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

#bottom-block {
  position: absolute;
  border-bottom: 1px solid #ffd37d;
  height: 0;
  width: 137px;
  top: 52px;
  left: 26px;
}

#mainimage-container {
  margin-top: 60px;
}

#otpsentimage {
  margin-top: 84px;
}